body {
  background-color: forestgreen;/*fixed background colour*/
  margin: 0;
  font-family: "Gil Sans", sans-serif;/*fixed font family*/
}

header {
  background-color: Gold;/*fixed header background colour*/
  color: #004d00;
  text-align: center;
  font-size: 2em;
  padding: 20px;/*fixed header padding*/
  margin: 0;
}

nav {/*fixed navigation bar*/
  background-color: #2e1a1a;
  width: 100%;
  margin: 0;
  padding: 0 5px;
  position: sticky;
  top: 0;
}

nav li {
  display: inline;
  border-right: 1px solid grey;
}

nav li:last-child {
  border-right: none;
}

nav ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
  padding: 14px 16px;
}

nav a:hover {/*fixed hover effect*/
  background-color: gold;
  color: #2e1a1a;
}

main {
  background-color: lightgreen;
  margin: 50px 100px;/*fixed main background colour and margin*/
  padding: 50px;
}

#garden {/*fixed garden section*/
  border: 5px solid brown;
  border-radius: 30px;
  box-shadow: 5px 5px 15px grey;
  height: 30;
  width: 30%;
}

section {
  margin-top: 30px;/*fixed section margin*/
}

h2 {
  color: brown;
}

footer {
  background-color: #2e1a1a;
  opacity: 0.9;
  padding: 30px 50px;
  color: gold;
  text-align: center;
}