body{
    background-color: black;
    color: aliceblue;
}
.pFollowingImages{    
    text-align: center;
    background-color: #333;
    padding: 10px 0px 10px;
    border-radius: 80px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.LeavesBackground{
    background-image: url("../Images/autumn_leaves.jpg");
    padding: 10px 10px 10px 10px;
}
* {
  box-sizing: border-box;
  margin:auto;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px 0px 10px;
    border-radius: 80px;
    
}

div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

div li {
  float: left;
}

div li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div li a:hover {
  background-color: #111;
}

section {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}