/* Base (mobile-first) */
body {
  font-family: 'Georgia', serif;
  background-color: #3E3E3E;
  color: #FAF4EF;
  margin: 0;
  padding: 0;
}

header, footer {
  text-align: center;
  padding: 10px;
  margin: auto;
  color: #FAF4EF;
}



footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #6D6875;
}

.forest {
  background-image: url("../images/forest.jpg");
  background-size: cover;
  background-position: center;
  padding: 10px;
  color: #FAF4EF;
}

.classroom {
  background-image: url("../images/classroom.webp");
  background-size: cover;
  background-position: center;
  padding: 10px;
  color: #FAF4EF;
}

.bedroom {
  background-image: url("../images/bedroom.jpg");
  background-size: cover;
  background-position: center;
  padding: 10px;
  color: #FAF4EF;
}

.sunset {
  background-image: url("../images/sunset.png");
  background-size: cover;
  background-position: center;
  padding: 10px;
  color: #FAF4EF;
}


nav{
  padding:20px;
  
}
/* Sidebar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #6D6875;
  border-radius: 10px;
}

nav li {
  display: block; 
}

nav li a {
  display: block;
  color: #FFE8D6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
  border-radius: 10px;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}
nav li a.active {
  background-color: #A5A58D; /* Sage green */
  color: white;
  border-radius: 10px;
}

nav li a:hover:not(.active) {
  background-color: #E5989B; /* Soft rose */
  color: white;
}

/* Scripture Rotator */
.scripture-rotator {
  background-color: #FAF4EF;
  color: #3E3E3E;
  border-radius: 30px;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 80%;
  border-left: 20px solid  #A5A58D;
}

/* Main content */
.main-content {
  padding: 1px 16px;
  height: 1000px;
  margin-bottom: 30px;
}

.preview ul li {
  margin-bottom: 8px;
}

/* Tablet View */
@media (min-width: 768px) {
  nav li {
    float: left;
  }

  nav ul {
    overflow: hidden;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  .verse-box, .journal {
    flex: 1 1 45%;
  }
}

/* Desktop View */
@media (min-width: 1024px) {
  main {
    display: flex;
    flex-wrap: nowrap;
  }

  .verse-box, .journal, .music-controls {
    flex: 1 1 30%;
  }
}
