body{
    background-color: black;
    color: aliceblue;
}
.pFollowingImages{    
    text-align: center;
}
h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #FFD700;
}
.LeavesBackground{
    background-image: url("Images/autumn_leaves.jpg");
    padding: 10px 10px 10px 10px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px 0px 10px;
    border-radius: 80px;
}